body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


align-items: center;
}
#app{
  /* border: 1px solid black; */
 margin-left: 20%;
 width: 60%;
 height: 500px;
/* background-color: yellow; */
}